.conainer {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
.container_botao{
    padding: 1em 1em;
    color: aqua;
    background-color: blue;
    border-radius: 5px;
}


@media screen and (min-width:500px){
    .container {
        grid-template-columns: repeat(2,1fr);
        gap: 10px;
    }


}
@media screen and (min-width:1024px) {
    .container{
        grid-template-columns: repeat(1,1fr);
        gap: 50px;
    }
    
}